# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
logfile.txt

# Model files
models/*.h5

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Zip files
*.zip

# Ignore all image files
*.jpg
*.jpeg
*.png

# Build and distribution folders
build/
dist/
*.exe
*.pkg
*.html
*.dll
*.pyd
*.tmp
*.bak
*.log

# VSCode settings
.vscode/ 